body{
background-color: lavender;
}
header{
  text-align: center;
  color: turquoise;
}

header{
  family;font-style: arial;
  font-size:24px
}
h2{
font-family: 'Amatic SC', cursive;
color: turquoise;
}
h1{
  color: turquoise;
font-size: 30px;
font-family: 'Handlee', cursive;
}
.motorola{
  height: 250px;
}
.nokiaone{
  height: 250px;
}
.nokiatwo{
  height: 250px;
}

.nokiathree{
  height:150px;
}

.iphoneone{
  height:200px;
}
