body{
background-color: #CECEF6;
}
header{
  text-align: center;
  color: #FA58AC;
}

header{
font-family: 'Indie Flower', cursive;
  font-size: 16px

}
h2{
font-family: 'Indie Flower', cursive;
color: #FA58AC;
font-size: 40px
}
h1{
  color: #FA58AC;
font-family: 'Indie Flower', cursive;
font-size: 50px;
margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 400px;
    margin-inline-end: 400px;
    font-weight: bold;
}
header{
  height:150px;
  background-color: #29088A;
}
.motorola{
  height: 250px;
}
.nokiaone{
  height: 250px;
}
.nokiatwo{
  height: 250px;
}

.nokiathree{
  height:250px;
}

.iphoneone{
  height:200px;
}

.cellphones{
  text-align: left;
  image-orientation: center;
}
.header{
  text-align: center;
}
