body{
background-color: gray;
}
header{
  text-align: center;
}

header{
  family;font-style: arial;
  font-size:24px
}
h2{
font-family: 'Chilanka', cursive,serif;
color: lavender;
font-size: 30px;
font-style: slab;
}




.motorola{
  height: 250px;
}
